extends ../layout
include ../mixins/_certCard
include ../mixins/_listCard
include ../mixins/_displayCard

block content
  //  About
  include ../includes/about

  //  Skills
  include ../includes/skills

  //  Portfolio
  include ../includes/portfolio

  //  Education
  include ../includes/education
  
  //  Contact
  include ../includes/contact
