section(id="about" class="section")
  h2.title.theme-bg
    span    About

  .container-fluid.container-lg
    p(class="lead lead-text theme") #{intro}
    p(id="work") #{work}
    
    p.mt-2.lead-text    Current focus: 
      span.theme.fst-italic Data Science and Machine Learning
