section(id="education" class="section")
  h2.title.theme-bg
    span   Certifications

  .container-fluid.container-md
    div(class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-5")
      each cert in certs
        +certCard(cert)
