// Portfolio
section(id="portfolio" class="section")
  h2.title.theme-bg
    span    Portfolio

  .container-fluid.container-md
    div(class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gy-5")
      each project in projects
        +displayCard(project)
