mixin listCard(item)
  .col
    div(class="card d-md-flex h-100 border-0")
      div(class="card-header border-0")
        h3
          span    #{item.title}

      if item.list
        div(class="card-body")
          ul.d-flex.list-unstyled.flex-wrap
            each point in item.list
              li.m-3    #{point}
      else
        div(class="card-body")
          p(class="card-text")    #{item.description}
